@import './utils/_guide.styl';
@import './helpers/_ghosts.styl';
@import './helpers/_events.styl';

@import './mixins/_scaffold-in-row.styl';
@import './mixins/_scaffold-in-col.styl';

.scaffold {
  display: flex;
}

.sc-row {
  flex-direction: row;

  > * {
    flex-shrink: 1;
  }

  &.sc-spacing-small {
    $scaffold-in-row(8px);
  }

  &.sc-spacing-default {
    $scaffold-in-row(16px);
  }

  &.sc-spacing-medium {
    $scaffold-in-row(24px);
  }

  &.sc-spacing-large {
    $scaffold-in-row(32px);
  }

  &.center-vertical {
    align-items: center;
  }

  &.center-horizontal {
    justify-content: center;
  }
}

.sc-col {
  flex-direction: column;

  > * {
    flex-shrink: 0;
  }

  &.sc-spacing-small {
    $scaffold-in-col(8px);
  }

  &.sc-spacing-default {
    $scaffold-in-col(16px);
  }

  &.sc-spacing-medium {
    $scaffold-in-col(24px);
  }

  &.sc-spacing-large {
    $scaffold-in-col(32px);
  }

  &.center-vertical {
    justify-content: center;
  }

  &.center-horizontal {
    align-items: center;
  }
}

.scaffold {

  &.center {
    align-items: center;
    justify-content: center;
  }
}

.sc-row,
.sc-col {
  @extend .scaffold;

  > * {
    flex-grow: 0;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  .grow,
  &.grow {
    flex-grow: 1;
  }

  .no-grow,
  &.no-grow {
    flex-grow: 0;
  }

  .shrink,
  &.shrink {
    flex-shrink: 1;
  }

  .no-shrink,
  &.no-shrink {
    flex-shrink: 0;
  }

  &.baseline {
    align-items: baseline;
  }

  &.space-between {
    justify-content: space-between;
  }
}

@import './modules/scrollbar/scrollbar.styl';
