@import './utils/_guide.styl';
@import './helpers/_ghosts.styl';

@import './mixins/_scaffold-in-row.styl';
@import './mixins/_scaffold-in-col.styl';

.scaffold {
  display: flex;
}

.sc-row {
  flex-direction: row;

  > * {
    flex-shrink: 1;
  }

  &.sc-spacing-small {
    $scaffold-in-row(10px);
  }

  &.sc-spacing-default {
    $scaffold-in-row(15px);
  }

  &.sc-spacing-large {
    $scaffold-in-row(30px);
  }
}

.sc-col {
  flex-direction: column;

  > * {
    flex-shrink: 0;
  }

  &.sc-spacing-small {
    $scaffold-in-col(10px);
  }

  &.sc-spacing-default {
    $scaffold-in-col(15px);
  }

  &.sc-spacing-large {
    $scaffold-in-col(30px);
  }
}

.sc-row,
.sc-col {
  @extend .scaffold;

  > * {
    flex-grow: 0;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.grow {
    flex-grow: 1;
  }

  &.no-grow {
    flex-grow: 0;
  }

  &.shrink {
    flex-shrink: 1;
  }

  &.no-shrink {
    flex-shrink: 0;
  }
}

@import './modules/scrollbar/scrollbar.styl';
